body {
	background-image: url('fog-forest-haze.jpeg');
}

.jumbotron {
	background: rgba(0, 0, 0, 0.03)
}

#photo {
	margin-left: 25%;
}


div.brighten {
	background: rgba(0, 0, 0, 0.20)
}

p.text {
	color: white;
	font-style: italic;
	font-weight: 500;
}
