body {
	background-image: url('forest.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	}

.jumbotron {
	background: rgba(0, 0, 0, 0.50)
}

#photo {
	margin-left: 25%;
}


div.brighten {
	background: rgba(0, 0, 0, 0.30)
}
