<div class="container-fluid">
	<h1>Education</h1>
		<div class="container">
			<dl>
			  <a href="http://www.uakron.edu"><dt>The University of Akron</dt></a>
			  <dd>Bachelors of The Arts in Psychology</dd>
			  <dd>Studied Psychology that followed my interests in human behavior, therapy, psychopharmacology, therapeutic methods, altruism, and sociology.</dd>
			</dl>
			<dl>
			  <a href="http://www.epicodus.com"><dt>Epicodus</dt></a>
			  <dd>Bootcamp learning experience in web development</dd>
			  <dd>Learned Ruby, Rails, SQL, Javascript, Angular, Ember, CSS, HTML, Jquery, and AJAX.</dd>
			  <dd>Based upon the philosophies of test driven design and pair programming.</dd>
			</dl>
		</div>
</div>
