<div class="container-fluid">
  <h1>Experience</h1>
    <div class="container">
     <dl>
        <a href="http://www.plusqa.com"><dt>PlusQA</dt></a>
        <dd>Quality Assurance Tester and Automation Developer</dd>
        <dd>Tested mobile and web applications as well as browser experiences.</dd>
      </dl>
      <dl>
        <a href="http://www.ridewithgps.com"><dt>Ride With GPS</dt></a>
        <dd>Intern</dd>
        <dd>Worked on four different projects for the Ride With GPS team. These projects offered me first hand experience with Ruby, Rails, Javascript, Image Magick. As well as experience working with a developed code base.</dd>
      </dl><dl>
        <a href="http://www.clevelandart.org"><dt>Cleveland Museum of Art</dt></a>
        <dd>Art Handler</dd>
        <dd>Part of a team who was responsible for the handling over 1000 art objects for the museum's most recent expansion. After the expansion, my team was responsible for the installation of four exhibitions. While also handling the rotation of the museum's permanent collection.</dd>
      </dl>
      <dl>
        <a href="http://www.akronartmuseum.org"><dt>Akron Art Museum</dt></a>
        <dd>Building Services Assistant</dd>
        <dd>Maintained the grounds and building of the Akron Art Museum. Handled the set up and tear down of various Museum functions, from weddings, corporate parties, to community events.</dd>
      </dl>
    </div>
</div>
