<dl>
  <dt>Cleveland Museum of Art</dt>
  <dd>Art Handler</dd>
  <dd>Click to edit position descriptionPart of a team who was responsible for the handling over 1000 art objects for the museum's most recent expansion. After the expansion, my team was responsible for the installation of four exhibitions. While also handling the rotation of the museum's permanent collection.</dd>
</dl>
<dl>
  <dt>Eddy's Bike Shop</dt>
  <dd>Sale's Associate</dd>
  <dd>I assisted customers with any questions they have about the brands, and products Eddy's carries. I also assisted in the selection of a proper bicycle that fits the needs of the customer.</dd>
</dl>
<dl>
  <dt>Akron Art Museum</dt>
  <dd>Building Services Assistant</dd>
  <dd>Maintained the grounds and building of the Akron Art Museum. Handled the set up and tear down of various Museum functions, from weddings, corporate parties, to community events.</dd>
</dl>
