

<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <div id="navbar-image" class="background">
      <img src="/css/rock.jpg">
    </div>
    <a href="#!name"><span class=" white-text text-darken-2 name">Dale Palmer</span></a>
    <a href="#!email" ><span id="navbar-email" class="white-text text-darken-2 email">dpalmerpdx@gmail.com</span></a>
  </div></li>
   <li><a href="#about-me">Who I am</a></li>
   <li><a href="#education">What I've learned</a></li>
   <li><a href="#exp">Where I've learned</a></li>
</ul>


<script>
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
</script>