

<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <div id="navbar-image" class="background">
      <img src="/css/rock.jpg">
    </div>
    <a href="#!name"><span class=" white-text text-darken-2 name">Dale Palmer</span></a>
    <a href="#!email" ><span id="navbar-email" class="white-text text-darken-2 email">dpalmerpdx@gmail.com</span></a>
  </div></li>
   <li><a href="#about-me">Who I am</a></li>
   <li><a href="#education">What I've learned</a></li>
   <li><a href="#exp">Where I've learned</a></li>
</ul>

<nav>
<div class="nav-wrapper green">
  <a id="nav-name" class="brand-logo"><h3 class="grey-text flow-text">Dale Palmer Jr.</h3></a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="#about-me">Who I am</a></li>
   <li><a href="#education">What I've learned</a></li>
   <li><a href="#plans">What I want to learn</a></li>
   <li><a href="#exp">Where I've learned</a></li>
  </ul>
  <ul id="nav-mobile" class="right hide-on-large-and-up">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </ul>
</div>
</nav>




<script>
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
</script>