<div id="index-banner" class="parallax-container">
  <nav class="transparent">
    <div class="nav-wrapper transparent">
      <a id="nav-name" class="brand-logo"><h3 class="white-text flow-text">Dale Palmer Jr.</h3></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a target="_blank" href="#about-me">Who I am</a></li>
        <li><a target="_blank" href="#education">What I've learned</a></li>
        <li><a target="_blank" href="#plans">What I want to learn</a></li>
        <li><a target="_blank" href="#exp">Where I've learned</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-large-and-up">
        <a target="_blank" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons white-text">menu</i></a>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2"></h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
      <div class="row center">
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/css/forest_3.jpg" alt="forest"></div>
</div>


<div class="">
  <div class="section scrollspy" id="about-me">

    <!--   Icon Section   -->
    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Hello, I'm Dale!</h5>
          <p class="light center">
            <div id="meet-me-card">
              <img id="p-photo" class="responsive-img circle" src="../css/Dale.jpg" style="opacity: 0;">
            </div>
          </p>
        </div>
      </div>

      <div class="col s12 m8">
        <h5 class="center">Things I'm interested in</h5>
        <ul id="staggered-list">
          <li>Open Source</li>
          <li>Maps</li>
          <li>Community</li>
          <li>Bicycle Advocacy</li>
          <li>Sustainability</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/css/dream-house.jpg" alt="bridge"></div>
</div>

<div class="">
  <div class="section scrollspy" id="plans">
    <div class="row">
      <div class="col s12 center">
                  <h5 class="center">Things I've been a part of</h5>
        <div class="col s12 m6">
          <dl>
            <dt><a target="_blank" href="https:/bruber.herokuapp.com">Bruber</a></dt>
            <dd>This application is designed to bridge the gap between bicycle commuters and bicycle mechanics in the Portland area</dd>
          </dl>
          <dl>
            <a target="_blank" href="https://lightbulbs.herokuapp.com"><dt>Light bulb calculator</dt></a>
            <dd>This website is a personal experiment with parallax used to spread the cost savings of efficient lighting</dd>
          </dl>
        </div>
        <div class="col s12 m6">
          <dl>
            <a target="_blank" href="https:/bruber.herokuapp.com"><dt>Bruber</dt></a>
            <dd>This application is designed to bridge the gap between bicycle commuters and bicycle mechanics in the Portland area</dd>
          </dl>
          <dl>
            <a target="_blank" href="https://lightbulbs.herokuapp.com"><dt>Light bulb calculator</dt></a>
            <dd>This website is a personal experiment with parallax used to spread the cost savings of efficient lighting</dd>
          </dl>
        </div>
      </p>
    </div>
  </div>
</div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/css/bridge.jpg" alt="bridge"></div>
</div>

<div class="">
  <div class="section scrollspy" id="exp">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Experience</h4>
        <p class="left-align light">
          <dl>
            <a target="_blank" href="http://www.plusqa.com"><dt>PlusQA</dt></a>
            <dd>Software Engineer</dd>
            <dd>Tested mobile and web applications as well as browser experiences. Manually as well as with the use of Selenium, Appium, and Robotium.</dd>
          </dl>
          <dl>
            <a target="_blank" href="http://www.ridewithgps.com"><dt>Ride With GPS</dt></a>
            <dd>Intern</dd>
            <dd>Worked on four different projects for the Ride With GPS team. These projects offered me first hand experience with Ruby, Rails, Javascript, Image Magick. As well as experience working with a developed code base.</dd>
          </dl><dl>
            <a target="_blank" href="http://www.clevelandart.org"><dt>Cleveland Museum of Art</dt></a>
            <dd>Art Handler</dd>
            <dd>Part of a team who was responsible for the handling over 1000 art objects for the museum's most recent expansion. After the expansion, my team was responsible for the installation of four exhibitions. While also handling the rotation of the museum's permanent collection.</dd>
          </dl>
          <dl>
            <a target="_blank" href="http://www.akronartmuseum.org"><dt>Akron Art Museum</dt></a>
            <dd>Building Services Assistant</dd>
            <dd>Maintained the grounds and building of the Akron Art Museum. Handled the set up and tear down of various Museum functions, from weddings, corporate parties, to community events.</dd>
          </dl>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/css/gorge.jpg" alt="bridge"></div>
</div>

<div class="">
  <div class="section scrollspy" id="education">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Education</h4>
        <p class="left-align light">
          <a target="_blank" href="http://www.uakron.edu">The University of Akron</a>
          Bachelors of The Arts in Psychology
          Studied Psychology that followed my interests in human behavior, therapy, psychopharmacology, therapeutic methods, altruism, and sociology.
        </p>
        <p>
          <a target="_blank" href="http://www.epicodus.com">Epicodus</a>
          Bootcamp learning experience in web development
          Learned Ruby, Rails, SQL, Javascript, Angular, Ember, CSS, HTML, Jquery, and AJAX.
          Based upon the philosophies of test driven design and pair programming.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/css/redwood-blue.jpg" alt="morning sky"></div>
</div>


<script>
  var options = [
  {selector: '#p-photo', offset: 250, callback: function(el) {
    Materialize.fadeInImage($(el));
  } },
  {selector: '#staggered-list', offset: 260, callback: function(el) {
    Materialize.showStaggeredList($(el));
  } }
  ];
  Materialize.scrollFire(options);

  $(document).ready(function(){
    $('.scrollspy').scrollSpy();
    $('.scrollspy').scrollSpy({ scrollOffset: -10 });
  });
</script>
