<div class="container-fluid">
	<h1> Projects </h1>
	<div class="container">
		<dl>
			<a href="https:/bruber.herokuapp.com"><dt>Bruber</dt></a>
		  <dd>This application is designed to bridge the gap between bicycle commuters and bicycle mechanics in the Portland area</dd>
		</dl>
		<dl>
			<a href="https://lightbulbs.herokuapp.com"><dt>Light bulb calculator</dt></a>
		  <dd>This website is a personal experiment with parallax used to spread the cost savings of efficient lighting</dd>
		</dl>
		<dl>
			<a href="https://eudaimonialmt.herokuapp.com"><dt>Eudaimonia</dt></a>
		  <dd>This website is a side project made with parallax used for my friend's business</dd>
		</dl>
	</div>
</div>
